# Dependencies
node_modules

# Webpack
client/dist/

# Configuration Files
config.*
.env*

# Temp files
db/seeding/temp/*

# Misc
.vscode/
.DS_Store
scratch.txt

# Test Results
/test/load-testing/static-endpoint/results
/test/load-testing/api-endpoint/results
/test/load-testing/static-nginx/results

# Files to be distributed with static server
/static-server/static/*